continuations is fubucontinuations.js
jquerycontinuations is fubucontinuations.jquery.js

jquerycontinuations requires jquery, continuations

fubucontinuations.jquery.forms.js requires jquerycontinuations, jquery.form.js

ajax-diagnostics.js extends continuations

FormActivator.js requires fubucontinuations.jquery.forms.js